<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ organizationName || "Organization Details" }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ email }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
